.hero {
  height: 5em;
  background-color: $themeColor;

  h1 {
  color: $heroThemeColor;
}

  ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

  li {
  margin-right: 2em;
  margin-top: 1em;
}

  a {
  text-decoration: none;
  color: $heroThemeColor;
}

}
