@media screen and (min-width: 35em) {

  .hero {
    @include alignHeadFoot;
    height: 8em;

    h1 {
      margin: 2em;
    }

    nav {
      align-self: flex-end;
      margin: 1em;
    }

    li {
      margin-right: 1em;
    }
}
}
