@media screen and (min-width: 35em) {

  .hero {
    @include alignHeadFoot;
    height: 8em;

    h1 {
      margin: 2em;
    }

    nav {
      align-self: flex-end;
      margin: 1em;
    }

    li {
      margin-right: 1em;
    }
}
  .container {
    justify-content: space-around;
  }

  .posts {
    flex: 3;

    article {
      box-sizing: border-box;
      flex: 0 0 40%;
      margin: 2em 1em;
    }
  }

  .sidebar {
    display: flex;

    section {
      width: 30%;
    }
  }

  footer {
    @include alignHeadFoot;

    p {
      margin-right: 1em;
      margin-top: 0;
    }
  }
}
