.sidebar {
  padding: 1em;
  background-color: $sectionBg;
  color: $themeColor;

  section {
    background-color: $bgColor;
    border: $themeBorder;
    height: 10em;
    width: 90%;
    margin: 1em auto;

  }

}
