
/* resetting some browser-default styles */
/* DO NOT CHANGE THESE */
html,body,header,main,footer,section,aside,h1,h2,h3,h4,p{margin:0;padding:0;}
ul{margin:0;}


body {

  /* DO NOT CHANGE THESE */
  font-family: Verdana, Arial, sans-serif;
}

/*header tags*/
.hero {
  height: 5em;

  /* FIXME: align-items: center will move h1 to center*/

  /* DO NOT CHANGE THESE */
  background-color: #444444;
}

.hero h1 {

  /*margin: 2em 4em;*/
  /* FIXME: set height manually + left margin only */
  /*align-self: center;*/
  /* FIXME: align-self doesn't account for adding other stuff later */

  /* DO NOT CHANGE THESE */
  color: #ffffff;
}


.hero ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 1em;
  /* FIXME: display:flex <--spreads out insted of li */

}
.hero li {
  /*display: inline;*/
  margin-right: 2em;
  /* FIXME: just right side margin? */
}

.hero a, footer a {
  text-decoration: none;
  color: #ffffff;
}

/*main articles and sidebar tags*/

.posts {
  display: flex;
  justify-content: center;
  /* FIXME: space-around? */
  flex-wrap: wrap;
  /* FIXME: flex: 3 */

  /* DO NOT CHANGE THESE */
  color: #444444;
}
.posts article {
  box-sizing: border-box;
  flex: 0 0 90%;
  margin: 1em;
  /* FIXME: top & bottom margins only? 1em 0 */

  /* DO NOT CHANGE THESE */
  background-color: #dddddd;
  border: 1px solid #444444;
  height: 20em; /* this is just so we can see the articles since they have no content */
}


.sidebar {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  flex-direction: column;

  /* FIXME: align-items: center ???*/
  /* FIXME: flex: 1 */
  /* DO NOT CHANGE THESE */
  background-color: #aaaaaa;
  color: #444444;

}

.sidebar section {
  /* FIXME: width */
  margin: 2em 1em;
 /* DO NOT CHANGE THESE */
  background-color: #dddddd;
  border: 1px solid #444444;
  height: 10em; /* this is just so we can see the articles since they have no content */
}

/*footer tags*/

footer {
  /*justify-content: space-between;*/
  height: 8em;
  /* DO NOT CHANGE THESE */
  background-color: #444444;
  color: #eeeeee;
}

/* ~~~~~~~~~~ */

@media screen and (min-width: 35em) {

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8em;
}

.hero h1 {
  margin: 2em;
}

.hero nav {
  /*display: flex;*/
  /* FIXME: display: flex unnecessary */
  align-self: flex-end;

  margin: 1em;
}

.hero li {
  /*display: inline;*/
  margin-right: 1em;
  /* FIXME: just right side margin? */
}

.container {
  /*display: flex;*/
  justify-content: space-around;

}

.posts {
  flex: 3;
}

.posts article {
  box-sizing: border-box;
  flex: 0 0 40%;
  margin: 2em 1em;
}

.sidebar {
  display: flex;
  flex-direction: row;

}
.sidebar section {
  width: 30%;
}

footer {
  display: flex;
  justify-content: space-between;

}

}

@media screen and (min-width: 70em) {

  .container {
    display: flex;
  }

  .sidebar {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .sidebar section {
    width: 90%;
  }
}
