
/* resetting some browser-default styles */
/* DO NOT CHANGE THESE */
html,body,header,main,footer,section,aside,h1,h2,h3,h4,p{margin:0;padding:0;}
ul{margin:0;}


body {

    /* DO NOT CHANGE THESE */
    font-family: Verdana, Arial, sans-serif;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
    /* DO NOT CHANGE THESE */
    background-color: #444444;
}
.hero h1 {
  margin: 2em 4em;
  /*height: 2em;*/
  align-self: center;
    /* DO NOT CHANGE THESE */
    color: #ffffff;
}
.hero nav {
  display: flex;
  margin: 1em;
  }
.hero ul {
  list-style-type: none;

}
.hero li {
  display: inline;
  margin: 1em;
}
.hero a, footer a {
  text-decoration: none;
  color: #ffffff;
}
.container {
  display: flex;
  justify-content: center;
}

.posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

    /* DO NOT CHANGE THESE */
    color: #444444;
}
.posts article {
  box-sizing: border-box;
    flex: 0 0 40%;
    margin: 2em;

    /* DO NOT CHANGE THESE */
    background-color: #dddddd;
    border: 1px solid #444444;
    height: 20em; /* this is just so we can see the articles since they have no content */
}


.sidebar {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  /*flex: 0 0 20%;*/
  /* DO NOT CHANGE THESE */
    background-color: #aaaaaa;
    color: #444444;

}

.sidebar section {
    margin: 2em 1em;

    /* DO NOT CHANGE THESE */
    background-color: #dddddd;
    border: 1px solid #444444;
    height: 10em; /* this is just so we can see the articles since they have no content */
}


footer {
  display: flex;
  justify-content: space-between;
    /* DO NOT CHANGE THESE */
    background-color: #444444;
    color: #eeeeee;
}

footer nav, p {
  margin: 1.5em;
}
